.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(max-content, 1fr));
  grid-auto-rows: min-content;
  column-gap: 12px;
  row-gap: 6px;
}

.cell {
  height: fit-content;
}

.cell-today {
  background: repeating-linear-gradient(-45deg, rgb(100 116 139 / 10%), rgb(100 116 139 / 10%) 2px, #ffffff 2px, #ffffff 6px);
  border-radius: 4px;
}

.cell-day {
  margin-bottom: 4px;
}
