.calendar {
  /* width: 1050px; */
}

.day-of-week {
  display: grid;
  grid-template-columns: repeat(7, 150px);
}

.date-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(max-content, 1fr));
}

.date-cell {
  font-size: 14px;
  padding: 6px;
}

.date-cell-today {
  background: repeating-linear-gradient(-45deg, rgb(100 116 139 / 10%), rgb(100 116 139 / 10%) 2px, #ffffff 2px, #ffffff 6px);
  border-radius: 4px;
}

.date-cell-day {
  margin-bottom: 4px;
}
