.group-card {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.group-card-name {
  display: inline-block;

  border-bottom: 3px solid var(--color-group);
  font-weight: 400;
  line-height: 1.4;
  margin-block-end: 0.5em;
  opacity: 0.7;
  padding-inline-end: 4px;
  text-transform: uppercase;
}
