.match {
  display: flex;
  flex-direction: column;
  gap: 4px;

  border-left: 4px solid var(--color-group);
  border-radius: 2px;
  padding: 4px;
}

.match:hover {
  background-color: color-mix(in srgb, var(--color-group) 10%, transparent);
}

.match {
  .divider {
    display: none;
  }
}

.match-horizontal {
  flex-direction: row;
  align-items: center;

  .divider {
    display: block;
  }

  .team2 {
    flex-direction: row-reverse;

    .team-name {
      text-align: right;
    }
  }
}

.team-name {
  width: 10ch;
}

@media screen and (max-width: 1200px) {
  .team-name {
    display: none;
  }
}
