.match {
  display: flex;
  flex-direction: column;
  gap: 4px;

  border-left: 4px solid var(--color-group);
  border-radius: 2px;
  padding: 4px;
}

.match:hover {
  background-color: color-mix(in srgb, var(--color-group) 10%, transparent);
}

.calendar-team-name {
  width: 10ch;
}

.compact .calendar-team-name {
  display: none;
}
