:root {
  --color-group-1: #2dd4bf;
  --color-group-2: #fb923c;
  --color-group-3: #a3e635;
  --color-group-4: #a78bfa;
  --color-group-5: #facc15;
  --color-group-6: #38bdf8;
  --color-group-7: #f472b6;
}

.layout {
  display: flex;
  gap: 20px;
}

.groups {
  width: 400px;

  display: grid;
  gap: 12px;
}
