.calendar {
  width: 1050px;
}

.day-of-week {
  display: grid;
  grid-template-columns: repeat(7, 150px);
}

.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 150px);
}

.date-cell {
  font-size: 14px;
  padding: 6px;
}

.date-cell-today {
  background: repeating-linear-gradient(-45deg, #64748b21, #64748b21 2px, #ffffff 2px, #ffffff 6px);
  border-radius: 4px;
}

.date-cell-day {
  margin-bottom: 4px;
}
