.calendar {
  width: 1050px;
}

.day-of-week {
  display: grid;
  grid-template-columns: repeat(7, 150px);
}

.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 150px);
}

.date-cell {
  font-size: 14px;
  padding: 6px;
}

.date-cell-day {
  margin-bottom: 4px;
}
