.flag {
  height: 20px;
  width: 30px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  box-shadow: 2px 1px 3px #9ca3af;
}

.flat-sm {
  height: 18px;
  width: 18px;

  border-radius: 50%;
  box-shadow: 2px 1px 1px #9ca3af;
}
