:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-group-1: oklch(78.453% 0.13254 181.95);
  --color-group-2: oklch(75.763% 0.15899 55.922);
  --color-group-3: oklch(84.932% 0.2073 128.868);
  --color-group-4: oklch(70.897% 0.15927 293.536);
  --color-group-5: oklch(86.055% 0.17305 91.942);
  --color-group-6: oklch(53.525% 0.13127 147.38);
  --color-group-7: oklch(75.353% 0.13906 232.691);
  --color-group-8: oklch(72.525% 0.17527 349.733);
  --color-group-9: oklch(41.991% 0.19639 316.985);
  --color-group-10: oklch(59.675% 0.02586 258.413);
  --color-group-11: oklch(60.677% 0.21289 26.322);
  --color-group-12: oklch(45.413% 0.13296 260.536);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-size: 14px;
  margin: 16px;
}

h1 {
  font-size: 24px;
  line-height: 1.1;
}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.radio-group {
  background-color: color-mix(in oklab, oklch(13% .028 261.692) 5%,transparent);
  border-radius: 8px;
  height: 100%;
  padding: 8px;
}

.radio-button {
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  padding: 6px;

  &:hover {
    background-color: color-mix(in oklab, oklch(13% .028 261.692) 10%, transparent);
  }

  &.active {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0 0 0 / 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

#root {
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 4px;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.mb-12 {
  margin-bottom: 12px;
}
