.team-name {
  width: 15ch;
}

.team-points {
  width: 2ch;
  text-align: right;
}

.match-row:hover {
  background-color: color-mix(in srgb, var(--color-group) 10%, transparent);
}

.match-result-row {
  display: flex;
  gap: 16px;
}

.match-result-row:hover {
  .flag {
    opacity: 1;
  }
}

.match-result {
  height: 20px;
  width: 20px;

  border-radius: 2px;
  position: relative;

  .flag {
    position: absolute;
    top: -6px;
    right: -9px;

    opacity: 0;
    transition: opacity 300ms;
  }
}

.match-result-win {
  background-color: #22c55ed4;
}

.match-result-lose {
  background-color: #ef4444d4;
}

.match-result-draw {
  background-color: #cbd5e1;
}

.match-result-pending {
  background: repeating-linear-gradient(-45deg, #64748b, #64748b 2px, #ffffff 2px, #ffffff 5px);
}

.match-result2 {
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #b9c1cce6;
  border-radius: 50%;
  right: -6px;
  top: -4px;
  box-shadow: 2px 1px 3px #9ca3af;
}
