.flag {
  height: 20px;
  width: 30px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  box-shadow: 2px 1px 3px #9ca3af;
}

.team-name {
  width: 15ch;
}

.team-points {
  width: 2ch;
  text-align: right;
}

.match {
  height: 16px;
  width: 16px;

  border-radius: 2px;
}

.match-win {
  background-color: #22c55ed4;
}

.match-lose {
  background-color: #ef4444d4;
}

.match-draw {
  background-color: #cbd5e1;
}
