.team-name {
  width: 15ch;
}

.team-points {
  width: 2ch;
  text-align: right;
}

.match-result {
  height: 16px;
  width: 16px;

  border-radius: 2px;
}

.match-result-win {
  background-color: #22c55ed4;
}

.match-result-lose {
  background-color: #ef4444d4;
}

.match-result-draw {
  background-color: #cbd5e1;
}
